body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    border-bottom: .1875rem solid #32B9CD;
    background-color: #000000;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.titulo {
    color: #32B9CD;
    font-weight: 500;
}

.navbar {
    width: 25rem;
    display: flex;
    color: #E3B062;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

/* Caso eu queira reutilizar a classe .container
o estilo justify-content não se aplica, apenas se aplica para
o container dentro do header */
.header .container {
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 31.25rem;
    background-image: url(img/bg-jelly-fish-para_outras_pags.png);
    display: flex;
}

.banner__titulo{
    margin: 0;
    color: white;
    font-size: 2.1875rem;
}

.banner .container{
    justify-content: end;
    width: 10%;
}

.cards{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #e5e5e5;
}

.card{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card img{
    width: 6.25rem;
    height: 6.25rem;
    padding-top: 5%;
}

.card h2{
    color: #eb3636;
    margin-bottom: 0;
}

.card p{
    padding: 0 20%;
}

.footer{
    width: 100%;
    height: 6.25rem;
    background-color: #32b9cd;
    text-align: center;
    color: white;
    padding-top: 2%;
}

.footer p {
    margin: 0;
}

/* Cadastro */

.principal{
    background-image: url(img/bg-jelly-fish-para_outras_pags.png);

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.container__cadastro {
    display: flex;
    max-width: 800px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 15px 48px 33px -62px rgb(255, 255, 255);
    background-color: #ffffff;
}

.image {
    flex: 1;
    background-image: url('img/aguaViva.jpg');
    background-size: cover;
}

.image__login {
    flex: 1;
    background-image: url('img/AguavivaLogin.jpg');
    background-size: cover;
}

.form-container {
    flex: 1;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #19118a;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background-color: #1a10a2;
}
